{% extends "base.html" %}

{% load static %}

{% block title %}Scan Page{% endblock %}

{% block content %}

<form method="GET">
    <input type="text" name="target_ip" value="{{ target_ip }}" placeholder="target ip">

    {% for name, port in service_ports.items %}
        <label>
            <input type="checkbox" name="ports" value="{{ port }}">
            {{ name }} ({{ port }})
        </label>
    {% endfor %}

    <button type="submit">Scan</button>
</form>

<h2>Open ports:</h2>
{% for port in open_ports %}
    <p>{{ port }}</p>
{% endfor %}

<h2>Closed ports:</h2>
{% for port in closed_ports %}
    <p>{{ port }}</p>
{% endfor %}

{% endblock %}